html {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  text-align: center;
  background-color: #011627;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.GameArea {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scaleTile {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.hexTile {
  z-index: 1;
}
.hexTile:active {
  animation: scaleTile 0.5s;
  z-index: 10;
}
